
{% extends "news/content/news/news_example.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
<h4 align="center">
  <img alt="common readme" src="common-readme.png">
</h4>

<p><strong><em>Потребители модулей!</em></strong> Разочарованы тем, что каждый модуль имеет свои собственные дико
   уникальный формат README? Раздражают модули, в которых отсутствуют важные разделы, такие как
   <strong>API</strong> или <strong>Примеры</strong>? Застрял, просматривая документацию по API еще до того, как <em>узнал об этом
   что делает модуль</em>?</p>
   <p><strong><em>Авторы модулей!</em></strong> Устали придумывать формат файла readme каждый раз, когда вы его пишете? Хотите, чтобы файлы readme были предварительно заполнены именем, описанием и лицензией вашего модуля, и вам не нужно каждый раз беспокоиться о структуре?</p>
   <hr />
   <p>Что, если бы был общий формат для удобства производителей и потребителей?</p>
   <p><em>Общий файл readme</em> для модулей узлов.</p>
   <p>Это может сэкономить время всем, если придерживаться 4 принципов:</p>
   <ol>
   <li><strong>Никакой привязки.</strong> Никаких специальных форматов или инструментов; запустите <code>common-readme</code> один раз для
   чистой ванильного markdown.</li>
   <li><strong>Никаких сюрпризов.</strong> Извлеките как можно больше деталей из <code>package.json</code> — например, имя,
   описание и лицензия. Не тратьте время на настройку.</li>
   <li><strong>Когнитивная воронка.</strong> Начните с самой общей информации вверху
   (Имя, Описание, Примеры) и, если читатель сохраняет интерес, сузьте
   до конкретики (API, Установка). Это позволяет читателям
   "замкнуть" и продолжить поиск нужного модуля в другом месте, не тратя время на ненужные детали.</li>
   <li><strong>Последовательность.</strong> Ваш мозг может сканировать документ гораздо быстрее, когда он может
   предвидеть его структуру.</li>
   </ol>
   <h2 id="common_format">Общий формат</h2>
   <p>common-readme работает по принципу <em>когнитивной воронки</em>.</p>
   <blockquote>
   <p>В идеале тот, кто немного знаком с вашим модулем, должен иметь возможность
   освежить свою память, не нажимая "страница вниз". По мере того, как ваш читатель продолжает читать документ, он должен получать все больше и больше знаний. -- <code>perlmodstyle</code></p>
   </blockquote>
   <p>Вот несколько файлов README, созданных с помощью common-readme:</p>
   <ul>
   <li><a href="https://github.com/noffle/collide-2d-aabb-aabb"><code>collide-2d-aabb-aabb</code></a></li>
   <li><a href="https://github.com/noffle/goertzel"><code>goertzel</code></a></li>
   <li><a href="https://github.com/noffle/twitter-kv"><code>twitter-kv</code></a></li>
   </ul>
   <p><em>(<a href="https://github.com/noffle/common-readme/pulls">Отправьте запрос на извлечение</a> и добавьте
   ваш здесь!)</em></p>
   <h2 id="usage">Использование</h2>
   <p>Установив <a href="https://npmjs.org/">npm</a>, запустите</p>
   <pre><code>$ npm install -g common-readme
   </code></pre>
   <p><code>common-readme</code> — это программа командной строки. Вы запускаете ее, когда запускаете новый
   модуль, в котором настроен <code>package.json</code>.</p>
   <p>При запуске создается совершенно новый README, который записывается на ваш терминал. Вы можете
   перенаправить его в <code>README.md</code> и использовать его в качестве основы для вашего нового модуля.</p>
   <pre><code>$ common-readme &gt; README.md
   </code></pre>
   <p>Этот совершенно новый файл readme будет автоматически заполнен значениями из
   <code>package.json</code>, такими как <code>name</code>, <code>description</code> и <code>license</code>. Для всего остального (использование, API и т. д.) будут созданы разделы-заглушки, готовые для заполнения.</p>
   <h2 id="why_">Почему?</h2>
   <p>Это не безумная новая идея. Другие экосистемы, такие как <a href="http://perldoc.perl.org/perlmodstyle.html">Perl's
   CPAN</a>, уже много лет пользуются общим форматом readme. Более того:</p>
   <ol>
   <li>
   <p>Сообщество Node поддерживается нами, людьми, и модулями, которыми мы делимся. Это наша
   документация, которая связывает нас вместе. Наш README — это первое, что видят
   разработчики, и он должен быть максимально эффективным для передачи
   его цели и функции.</p>
   </li>
   <li>
   <p>Много мудрости можно почерпнуть у многих разработчиков, которые написали
   много-много модулей. Общий readme направлен на то, чтобы переработать этот опыт в
   общий формат, который принесет пользу всем нам; особенно новым разработчикам!</p>
   </li>
   <li>
   <p>Написание одного и того же шаблона — пустая трата времени каждого автора — мы могли бы также сгенерировать общие части и позволить автору сосредоточиться на содержании.</p>
   </li>
   <li>
   <p>Просмотр модулей на npm является частью обычного
   цикла разработки каждого разработчика узлов. Последовательный формат позволяет мозгу сосредоточиться на содержании, а не на структуре.</p>
   </li>
   </ol>
   <h2 id="the_art_of_readme">Искусство README</h2>
   <p>Чтобы узнать еще больше информации, мудрости и идей, ознакомьтесь со статьей, которая
   вдохновила на common-readme:</p>
   <ul>
   <li><a href="https://github.com/noffle/art-of-readme"><em>Искусство README</em></a>.</li>
   </ul>
   <h2 id="install">Установить</h2>
   <p>Установив <a href="https://npmjs.org/">npm</a>, запустите</p>
   <p><code>shell
   npm install -g common-readme</code></p>
   <p>Теперь вы можете выполнить команду <code>common-readme</code>.</p>
   <h2 id="acknowledgments">Благодарности</h2>
   <p>Стандартный формат readme для сообщества Node — не новая идея. Вдохновение
   пришло из многих обсуждений и нереализованных усилий в сообществе:</p>
   <ul>
   <li><a href="https://github.com/feross/standard/issues/141">https://github.com/feross/standard/issues/141</a></li>
   <li><a href="https://github.com/RichardLitt/readme-standard">richardlitt/standard-readme</a></li>
   <li><a href="https://github.com/zcei/standard-readme">zwei/standard-readme</a></li>
</ul>
<p>Это, в дополнение к моему собственному опыту оценки сотен модулей узлов и
их README.</p>
<p>Я был частично вдохновлен дерзостью медоедов-безразличных усилий
<a href="https://github.com/feross/standard">standard</a>.</p>
<p>Я также много занимался археологией Perl — оказывается, монахи
сообщества Perl уже проделали большую часть тяжелой работы по <a href="http://perldoc.perl.org/perlmodstyle.html">разработке отличных
README</a> и мудрости вокруг разработки небольших
модулей более десяти лет назад.</p>
<p>Спасибо @mafintosh, @andrewosh и @feross за множество долгих бесед о
readme и Node.</p>
<h2 id="see_also">См. также</h2>
<p>README любят <a href="https://www.npmjs.com/package/readme"><code>readme</code></a>!</p>
<h2 id="license">Лицензия</h2>
<p>ISC</p>
{% endblock %}
      
      
