{% extends "main/main.html" %}

{% block theme %}{{theme}}{% endblock %}
{% block title %}Админ Панель{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='mdCss/md-' + theme + '.css') }}">

<div class="container">
    <div class="markdown-body">
        <h2>Админ панель</h2>
        <p>Вы успешно авторизовались!</p>

        <div class="container">
            <p>Загрузить файл [Md, Json]</p>
            <input name="file" type="file">
        </div>
    </div>
{% endblock %}
